<launch>

	<!-- USB Camera -->
	<include file="$(find self_collect_machine)/launch/raspicam_robot.launch"/>

	<!-- Store and Customer -->
	<!-- BarCode/QR-Code Recognition -->
	<node	pkg="self_collect_machine"
		type="raspicam_barcode_recognition_simplified.py"
		name="raspicam_barcode_recognition">
	</node>

	<!-- Store and Customer -->
	<!-- BarCode/QR-Code Identification -->
	<node	pkg="self_collect_machine"
		type="barcode_identification_simplified.py"
		name="barcode_identification">
	</node>

	<!-- Store (with i2c)-->
	<!-- Box Validity -->
	<node	pkg="self_collect_machine"
		type="box_validity_simplified_i2c.py"
		name="box_validity">
	</node>

	<!-- Store -->
	<!-- BarCode/QR-Code Record -->
	<node	pkg="self_collect_machine"
		type="store_barcode_record_simplified.py"
		name="store_barcode_record">
	</node>

	<!-- Customer -->
	<!-- BarCode/QR-Code Record -->
	<node	pkg="self_collect_machine"
		type="customer_barcode_validate_record_simplified.py"
		name="customer_barcode_validate_record">
	</node>

	<!-- Customer (with i2c)-->
	<!-- Box Trigger -->
	<node	pkg="self_collect_machine"
		type="box_trigger_simplified_i2c.py"
		name="box_trigger">
	</node>

	<!-- Display MAX7219-->
	<!-- Box Trigger -->
	<node	pkg="self_collect_machine"
		type="box_display_ver1.py"
		name="box_display">
	</node>
</launch>
